@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Poppins",sans-serif;
    font-weight: bolder;
    background:rgba(112, 27, 27,0.8);
    text-align: center;
    padding:2em;
    color:black;
}


.title{
    border-radius: 30px;
    padding:10px;
    margin:20px;
    font-size: 4em;
    margin-bottom: 2em;
    color:turquoise;
    background-color: rgba(218, 165, 32, 0.8);
    box-shadow: 10px 10px 10px 0 greenyellow ;

}

.container{
    border:none;
    display:flex;
    justify-content: space-around;
    border-radius:20px;
    background-color: chocolate;
    box-shadow: 10px 10px 10px 0 greenyellow;
}
.box{
   border:none;
   border-radius:20px;
   background-color: goldenrod;
    padding: 30px;
   margin: 30px;
   box-shadow: 10px 10px 10px 0 greenyellow;
    
}
